<h1>Pokémon <small>/ Pokédex</small></h1>
<hr>

<div class="row card-deck">
  <div class="col-md-4" *ngFor="let pokemon of pokemons; let i = index">
    <div class="card animated fadeIn fast">
      <img [src]="pokemon.img" class="card-img-top" [alt]="pokemon.name">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <p class="card-text">{{ pokemon.type }}</p>
        <p class="card-text">
          <small class="text-muted">{{ pokemon.weaknesses }}</small>
        </p>
        <div class="d-grid gap-2">
            <button (click)="verPokemon(i)" class="btn btn-outline-primary">
                See more...
            </button>
        </div>

      </div>
    </div>
  </div>
</div>